@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    box-sizing: inherit;
}
body{
  overflow: hidden;
  overflow-y: none;
    font-family: Rubik, sans-serif;
    margin: 0;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
p{
  font-size: 1.2rem;
  line-height: 1.2;
}
video{
  object-fit: cover;
  position: fixed;
  width: 100vw;
  height: 50vh;
  top: 0;
  left: 0;
}
.viewport-header {
  position: relative;
  height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: 0.3rem;;
}
.content{

  text-justify: distribute-all-lines;
  display: block;
  text-align: justify;
  margin: 3vw 28%;
}


.container{
  box-sizing: border-box;
  display: block;
  position: relative;
  margin: 40px auto;
  height: 500px;
  width: 500px;
  line-height: 1.2;
  text-align: center;
  z-index: 1;
  background: #FFFFFF;
  margin: 5% auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

ul li{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 80px;
  left: 0;
}
ul{
  list-style: none;
}
ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 40px;
  z-index: 9;
  cursor: pointer;
  --webkit-transition: all 0.25s linear;
}
ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 40px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
.result{
  font-size: 1.2rem;
  font-style: bold;
}
input[type=radio]:checked ~ .check {
  border: 5px solid #23353A;
}

input[type=radio]:checked ~ .check::before{
  background: #23353A;
}

input[type=radio]:checked ~ label{
  color: #23353A;
}
#start{
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}
button{
    font-size: 1.2rem;
    width: 10rem;
    height: 4rem;
    outline: none;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    background-color: #355165;
    margin: .5rem 5vw;
}


@-webkit-keyframes glowing {
    0% { background-color: #23353A; -webkit-box-shadow: 0 0 3px #355165; }
    50% { background-color: #23353A; -webkit-box-shadow: 0 0 20px #23353A; }
    100% { background-color: #355165; -webkit-box-shadow: 0 0 3px #355165; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color:#23353A; -moz-box-shadow: 0 0 3px #355165; }
    50% { background-color: #23353A; -moz-box-shadow: 0 0 20px #23353A; }
    100% { background-color: #355165; -moz-box-shadow: 0 0 3px #355165; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #23353A; box-shadow: 0 0 3px #355165; }
    50% { background-color: #23353A; box-shadow: 0 0 20px #23353A; }
    100% { background-color: #355165; box-shadow: 0 0 3px #355165; }
  }
  
  @keyframes glowing {
    0% { background-color: #23353A; box-shadow: 0 0 3px #355165; }
    50% { background-color: #23353A; box-shadow: 0 0 20px #23353A; }
    100% { background-color: #355165; box-shadow: 0 0 3px #355165; }
  }